# macOS
/.DS_Store

/**/._*.*

# Unity
/Assets.index
/Assets.index.meta
/Materials
/Materials.meta
/Presets
/Presets.meta
/Readme.asset
/Readme.asset.meta
/ExampleAssets
/ExampleAssets.meta
/Scenes
/Scenes.meta
/Scripts
/Scripts.meta
/Settings
/Settings.meta
/TutorialInfo
/TutorialInfo.meta
/URP Example Assets
/URP Example Assets.meta


.DS_Store
